@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;

    src: url('#{$file-path}.eot');
    src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
         url('#{$file-path}.woff2') format('woff2'),
         url('#{$file-path}.woff') format('woff'),
         url('#{$file-path}.ttf') format('truetype');
  }
}
@include font-face('Bitter-Regular', '../../fonts/Bitter-Regular', 400);
@include font-face('Bitter-Bold', '../../fonts/Bitter-Bold', 700);

@include font-face('Raleway-Regular', sans-serif, '../../fonts/Bitter-Regular', 400);
@include font-face('Raleway-Bold', sans-serif, '../../fonts/Raleway-Bold', 700);
