<div ngbDropdown #fromDropdown='ngbDropdown' placement="bottom" class="d-inline-block">
  <button
    type="button"
    class="d-inline-block language-dropdown-toggle"
    id="dropdownLanguagePicker"
    ngbDropdownToggle
    [class.language-dropdown-toggle_active]="isDropdownOpen(fromDropdown)"
  >
    {{ activeLanguage$ | async }}
  </button>
  <div ngbDropdownMenu
       aria-labelledby="dropdownLanguagePicker"
       class="dropdown-language-picker"
       [@slidingDropdown]="getDropdownAnimationState(fromDropdown)"
  >
    <perfect-scrollbar class="dropdown-language-picker__scrollbar">
      <h3 class="h3 mt-3 text-center">
        Recently used
      </h3>
      <ul class="languages-list mt-3">
        <li class="languages-list__item text-center"
            (click)="onLanguageSelect(language)"
            *ngFor="let language of recentlyUsedLanguages$ | async"
            [class.languages-list__item_active]="isLanguageItemActive(language.code)"
        >
          {{ language.name }}
          <button type="button"
                  class="button-icon btn-remove languages-list__btn-remove"
                  *ngIf="!isLanguageItemActive(language.code)"
                  (click)="onRecentlyLanguageRemove(language.code)"
          >
            <app-icon [iconName]="iconNames.X_ICON" classList="btn-remove__icon"></app-icon>
          </button>
        </li>
      </ul>
      <h3 class="h3 mt-3 text-center">
        All
      </h3>
      <ul class="languages-list mt-3">
        <li class="languages-list__item text-center" (click)="onLanguageSelect(language)"
            *ngFor="let language of allLanguages$ | async">{{ language.name }}</li>
      </ul>
    </perfect-scrollbar>
  </div>
</div>
